.navbar
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px

  .left
    display: flex
    align-items: center


  .logo
    width: 170px
    height: auto
    margin-right: 10px


  .center
    display: flex
    justify-content: start
    margin-left: 32px
    flex-grow: 1

    a
      color: white
      text-decoration: none
      margin: 0 15px
      font-size: 24px
      font-weight: 400

      &:hover
        text-decoration: underline
        cursor: pointer


  .right
    display: flex
    align-items: center


  .connexion-logo
    width: 30px
    height: auto


