<nav class="navbar">
  <div class="left">
    <img ngSrc="assets/images/SolarHouseLogo.png" alt="Logo" class="logo" height="82" width="170"/>
  </div>
  <div class="center">
    <a routerLink="/">Accueil</a>
    <a routerLink="/map">Carte</a>
    <a routerLink="/contact">Contact</a>
  </div>
  <div class="right">
    <img ngSrc="assets/images/UserIcon.png" alt="Se connecter" class="connexion-logo" height="41" width="35"/>
  </div>
</nav>
<div class="navbar-mobile">
  <div class="container nav-container">
    <input class="checkbox" type="checkbox" name="" id="" />
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <div class="logo-mobile">
      <img src="assets/images/SolarHouseLogo.png">
    </div>
    <div class="menu-items">
      <li><img src="assets/images/SolarHouseLogo.png"></li>
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/map">Carte</a></li>
      <li><a routerLink="/account">Mon compte</a></li>
      <li><a routerLink="/contact">Nous contactez</a></li>
    </div>
  </div>
</div>
