<section class="header">
    <div class="main--container">
    <app-navbar></app-navbar>
    <div class="titles">
      <h1 class="heading-01">SOLAR HOUSE</h1>
      <h2 class="heading-02"><span>Optimisez</span> votre accès à une source alternative d’<span>énergie durable</span></h2>
    </div>
    <div class="eligibility">
      <p class="eligibility-title">Evaluons ensemble le côté de votre toit ayant le plus gros taux d’ensoleillement</p>
      <div class="eligibility-input">
        <!-- <input class="adress" type="text" placeholder="Entrez votre adresse"> -->
        <app-autocomplete></app-autocomplete>
        <button class="submit-button">ALLONS-Y</button>
      </div>
    </div>
      <div data-aos="fade-right" data-aos-duration="1000" class="icon-inline">
        <div class="icon-inline--icon"><img src="assets/images/info-icon.png" alt="info-icone"></div>
        <div class="icon-inline--separation"></div>
        <div class="icon-inline--text">Nous utilisons l'API fournie par Google afin de vous fournir des données précises concernant l'orientation optimale pour l'ensoleillement de votre domicile.</div>
      </div>
    </div>
</section>
<section class="goals">
  <div class="transition-top-to-bot"></div>
  <div class="main--container">
    <div class="custom-flex">
      <div class="custom-flex--column" data-aos="fade-up-right" data-aos-delay="0">
        <div class="titles">
          <div class="title">Notre vision</div>
        </div>
        <div class="paragraph">Nous aspirons à façonner un avenir énergétique durable en encourageant l'adoption massive de solutions solaires.</div>
      </div>
      <div class="custom-flex--column" data-aos="fade-up-right" data-aos-delay="250">
        <div class="titles">
          <div class="title">Notre solution</div>
        </div>
        <div class="paragraph">Notre plateforme, alimentée par des données précises de l'API de Google, vise à guider chaque individu vers l'optimisation de l'ensoleillement de sa toiture, permettant ainsi des économies d'énergie significatives.</div>
      </div>
      <div class="custom-flex--column" data-aos="fade-up-right" data-aos-delay="500">
        <div class="titles">
          <div class="title">Bâtir un Avenir Solaire Ensemble</div>
        </div>
        <div class="paragraph">En intégrant la durabilité, l'accessibilité et la transparence au cœur de notre démarche, notre initiative principale consiste à créer une communauté engagée dans l'énergie solaire, contribuant ainsi collectivement à la réduction des émissions de carbone et à la construction d'un avenir plus respectueux de l'environnement.</div>
      </div>
    </div>
  </div>
</section>
<section class="ecology">
  <div class="main--container">
    <div class="custom-flex">
      <div class="custom-flex--column" data-aos="fade-right">
        <div class="headtitle">A propos de l’énergie solaire</div>
        <div class="title">Vers un Horizon Lumineux</div>
        <div class="paragraph">L'énergie solaire, source inépuisable et propre,
          incarne le potentiel d'un avenir énergétique durable. Sous le doux baiser du soleil,
          chaque rayon devient une opportunité de générer de l'électricité sans compromettre notre planète.
          Explorez avec nous les avantages éblouissants de l'énergie solaire et découvrez comment chaque instant
          ensoleillé peut être une étape vers une transformation positive.</div>
      </div>
      <div class="custom-flex--column" data-aos="fade-right">
        <div class="video1">
          <img class="play" src="assets/images/play.png" alt="play-icone">
        </div>
        <div class="video2">
          <img class="play" src="assets/images/play.png" alt="play-icone">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="valeurs">
  <div class="transition-bot-to-top"></div>
  <video autoplay loop muted class="video">
      <source src="assets/images/background-valeurs.mp4" type="video/mp4">
  </video>
  <div class="transition-top-to-bot"></div>
  <div class="main--container">
    <div class="headtitle">Un nouveau chemin</div>
    <div class="title">Nos valeurs</div>
    <div class="custom-flex">
      <div class="custom-flex--column" data-aos="fade-right" data-aos-duration="1000">
        <div class="icon-inline">
          <div class="icon-inline--image"><img src="assets/images/durability-icon.png" alt="durability-icone"></div>
          <div class="icon-inline--text">Durabilité</div>
          <div class="icon-inline--paragraph">Durabilité par des solutions énergétiques renouvelables, façonnant un avenir durable pour tous.</div>
        </div>
      </div>
      <div class="custom-flex--column" data-aos="fade-down" data-aos-duration="1000">
        <div class="icon-inline">
          <div class="icon-inline--image"><img src="assets/images/accessibility-icon.png" alt="accessibility-icone"></div>
          <div class="icon-inline--text">Accessibilité</div>
          <div class="icon-inline--paragraph">Engagement à rendre l'information et les solutions accessibles, favorisant la participation à la transition solaire.</div>
        </div>
      </div>
      <div class="custom-flex--column" data-aos="fade-left" data-aos-duration="1000">
        <div class="icon-inline">
          <div class="icon-inline--image"><img src="assets/images/transparency-icon.png" alt="transparency-icone"></div>
          <div class="icon-inline--text">Transparence</div>
          <div class="icon-inline--paragraph">Transparence sur les avantages, coûts et économies liés aux panneaux solaires pour des décisions éclairées.</div>
        </div>
      </div>
      <div class="custom-flex--column" data-aos="fade-right" data-aos-duration="1000">
        <div class="icon-inline">
          <div class="icon-inline--image"><img src="assets/images/engagement-icon.png" alt="engagement-icone"></div>
          <div class="icon-inline--text">Engagement</div>
          <div class="icon-inline--paragraph">Communauté engagée dans l'énergie solaire, favorisant l'apprentissage mutuel et une culture durable.</div>
        </div>
      </div>
      <div class="custom-flex--column" data-aos="fade-up" data-aos-duration="1000">
        <div class="icon-inline">
          <div class="icon-inline--image"><img src="assets/images/solar-energy-icon.png" alt="solar-energy-icone"></div>
          <div class="icon-inline--text">Energie solaire</div>
          <div class="icon-inline--paragraph">Choix solaire pour une responsabilité sociale et des bénéfices individuels et collectifs.</div>
        </div>
      </div>
      <div class="custom-flex--column" data-aos="fade-left" data-aos-duration="1000">
        <div class="icon-inline">
          <div class="icon-inline--image"><img src="assets/images/innovation-icon.png" alt="innovations-icone"></div>
          <div class="icon-inline--text">Innovations</div>
          <div class="icon-inline--paragraph">Collaboration innovante connectant esprits créatifs et experts pour repousser les limites de l'innovation énergétique.</div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>


