<section class="footer">
  <div class="main--container">
    <div class="custom-flex">
      <div class="custom-flex--column">
        <div class="group">
          <label>NewsLetter SolarHouse</label>
          <button>OK</button>
        </div>
        <input type="text" placeholder="Entrez votre adresse email">
      </div>
      <div class="custom-flex--column">
        <img src="assets/images/facebook.png" alt="facebook">
        <img src="assets/images/twitter.png" alt="twitter">
        <img src="assets/images/instagram.png" alt="instagram">
        <img src="assets/images/linkedin.png" alt="linkedin">
      </div>
    </div>
    <div class="custom-flex">
      <div class="custom-flex--column">
        <label>Besoin d'aide&nbsp;?</label>
        <a href="#">HIGH, MEDIUM, LOW</a>
        <a href="#">Problèmes de connexion</a>
        <a href="#">Passer à l’énergie solaire</a>
        <a href="#">Aide / FAQ</a>
      </div>
      <div class="custom-flex--column">
        <label>Contactez-nous</label>
        <a href="#">contactpro&#64;solarhouse.com</a>
        <a href="#">Nous écrire&nbsp;?</a>
      </div>
    </div>
  </div>
</section>
